/* General */
.clear{ clear:both;font-size:0;height:0;line-height:0;overflow:hidden; }
.hide { display:none; }
.shout{ color:#d32d27; }
.muted{ color:#666; }
.centertext{ text-align:center; }

a{ text-decoration:none; color: #d32d27; }
a:hover{ color:#444; }


table td       {
	padding-right:10px;
	white-space:nowrap;
}

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*--- welcome.html ---*/
.asterisk{ margin:-75px 0 0 208px;float:left; }
.clearasterisk{ clear:both;margin-top:30px; }
#known{ display:none; }
#lp_docwrite_welcome1{ margin-top:0; }
.centerlink{ text-align:center;text-decoration:underline; }

/*--- create_account ---*/
.messyheading{ width:100%;text-align:center;margin:12px; }

#page_passwordmeterback{ height:10px;border:1px solid #B5B8C8;background-image:url(images/passwordmeter_back.gif);margin-top:-3px; }
#page_passwordmeterfront{ background-image:url(images/passwordmeter_front.gif);height:10px;width:50px; }

.pw300{ width:300px; background-size:300px; }
#createaccount {width:100%;}
#createaccount label{ font-weight:bold;margin-top:5px;display:block;text-align:left!important; }
#createaccount input:nth-child(1),
#createaccount input:nth-child(3){ margin-bottom:8px; }
#lp_docwrite_login_small23a{ color:#d32d27; }
#createaccount input[type=text], #createaccount input[type=password]{
  height:28px;
  width:100%!important;
  max-width:100%!important;
  padding-left:10px;
  font-size:14px;
  border:solid 1px #ddd;
  -webkit-box-shadow: inset 3px 4px 5px rgba(0,0,0,.09);
  -moz-box-shadow: inset 3px 4px 5px rgba(0,0,0,.09);
  box-shadow: inset 3px 4px 5px rgba(0,0,0,.09);
}
#createaccount select{
  width:100%!important;
  height:28px;
}
#createaccount .toprows{
  padding:4px 0px;
}
#createaccount #emailerror{
  color:red;
}
#createaccount td{text-align:right;}

.wiz, .wiz table{
  font-size:14px;
}

#creatingaccount{ display:none; }

/*--- login.html ---*/
#logininner input[type=text], #logininner input[type=password]{
    height:28px;
    width:100%;
    padding-left:10px;
    font-size:14px;
    border:solid 1px #ddd;
    -webkit-box-shadow: inset 3px 4px 5px rgba(0,0,0,.09);
    -moz-box-shadow: inset 3px 4px 5px rgba(0,0,0,.09);
    box-shadow: inset 3px 4px 5px rgba(0,0,0,.09);
}

#logininner form{ margin:0 }

.content{
  position:relative;
  width:506px;
  margin: 100px auto;
  padding: 30px;
  background: #f8f8f8;
  font: 15px/21px "open_sansregular", "Helvetica Neue", Helvetica, arial, sans-serif;
  border: 1px #ddd solid;
  -webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.11);
  -moz-box-shadow: 3px 4px 5px rgba(0,0,0,.11);
  box-shadow: 3px 4px 5px rgba(0,0,0,.11);
}
.contentwide{
  width:55%;
}
.dimpled button{
  padding:7px;
  margin: 2px 5px;
}
#lp_docwrite_welcome3{
  margin: 5px 0px;
}
.dimpled img{
  margin:auto;
  margin-left: 100px;
}
#reenterpassword{
  width:300px;
}
.createlink{
  font-weight:normal !important;
  font-size:inherit !important;
}

.imgcenter{
  display:block !important;
  margin:0px auto !important;
}

.out_shadow {
  -webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.11);
  -moz-box-shadow: 3px 4px 5px rgba(0,0,0,.11);
  box-shadow: 3px 4px 5px rgba(0,0,0,.11);
}

.dialog{
  border:1px solid #949494;
  border-radius: 2px;
  background:#e6e6e6;
  color:#4c4c4c;
  margin:50px auto;
}

#googleauth, #outofband, #yubikey, #sesame, #grid{
  width:702px;
  border:1px solid #949494;
  border-radius: 2px;
  background:#e6e6e6;
  color:#4c4c4c;
  margin:50px auto;
}
#googleauth, #outofband, #grid{
  height:350px;
  min-height:350px;
}
#yubikey, #sesame {
  height: 310px;
}
.multiheader{
  background:white;
  border-bottom:1px solid #949494;
  height:64px;
}
.multiheader img{
   padding:20px 0 0 20px;
}

.leftcol{
  float:left;
}

.multileft{
  width:472px;
  border-right:1px solid #c3c3c3;
  padding:8px;
  font-size:14px;
  min-height:210px;
}

#googleauth .multileft, #outofband .multileft, #grid .multileft{
  min-height: 270px;
}

.multileft a{
  text-decoration:none;
  color:#848484;
  float:right;
  font-size:12px;
}

#googright{
  background:url(gauthlastpass.png) no-repeat center center;
  width:200px;
  height:200px;
}

.multiright{
  background:url(gauthlastpass.png) no-repeat center center;
  width:200px;
  height:200px;
}

#yubiright{
  background:url(yubikeyicon2.jpg) no-repeat center center;
  width:200px;
  height:200px;
}
#sesameright{
  background:url(step2.gif) no-repeat center center;
  width:150px;
  height:150px;
}
#gridright{
  background:url(spreadsheet.png) no-repeat center center;
  width:200px;
  height:200px;
}

.buttonblock{
  min-height: 40px;
}



#googleauthotp{
  width:100px;
  height:24px;
  padding-left:20px;
}
.multienter{
  font-weight:bold;
  margin:0px;
}
.multidesc{
  padding-top:18px;
}
.multititle{
  float:right;
  padding:20px 10px 0 0;
}
.lost{
  padding-left:50px;
}
.vault-table{
  border-top:1px solid #c3c3c3
}
#googleauthauth{
  height:30px;
}
#labelgoogleauth{
  padding:5px 3px;
}
a#cancel{
  color: black;
}
